a{text-decoration:none !important}
a:hover{text-decoration:none !important}
select::-ms-expand {
    display: none !important;
}
.nav-right{float:right;margin-right:40px;text-align:right}
.nav-right p{color:#666666;font-size:16px;margin-bottom:0px;font-weight:400;font-family: Arial, Helvetica, sans-serif;}
/* .nav-right h2{font-size:26px;color: #006687;font-weight: 600;font-family: Arial, Helvetica, sans-serif;margin: 5px 0;} */
.nav-right h2{font-size:26px;color: #00AA55;font-weight: 600;font-family: Arial, Helvetica, sans-serif;margin: 5px 0;}
.nav-right .click-here{font-weight:400;color:#0099cc;font-size:14px;margin-bottom:0px;font-family: Arial, Helvetica, sans-serif;}
.nav-right .click-here a{color:#0099cc;}
.gradient-line{width:100%;float:left;margin-top:0;height:8px;}
.gradient-line .level-1{width:5%;float:left;background:#ffcc00;height: 8px;}
.gradient-line .level-2{width:10%;float:left;background:#00aa55;height: 8px;}
.gradient-line .level-3{width:10%;float:left;background:#ee2222;height: 8px;}
.gradient-line .level-4{width:75%;float:left;background:#0099cc;height: 8px;}
.banner{background-image:url('/static/images/best_v2.jpg');background-size:100%;background-repeat:no-repeat}
/* .banner h1{font-weight:400;color:#666666;margin-top:20px;line-height:45px;font-size:40px} */
.banner h1{font-weight:900;color:#ffffff;line-height:60px;font-size:55px; width:130%;margin-top: 95%;text-shadow: 0.5px 0.5px 4px #000;}
/*only for ipad for best and affordable*/
.bolder {
 font-weight: bolder;
}
.best_h1_margin_left
{
  margin-left: 2%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .banner h1{font-weight:800;color:#ffffff;line-height:60px;font-size:55px; width:100%;margin-top: 0%;}
  .get-quote-form{
  	background: #fff;
  	margin-top: 5%;
  	margin-bottom: 6%;
  	margin-left: 5%;
  	border-radius: 3px;
    padding: 20px 0px 0 20px;
    filter: drop-shadow( 0px 0px 0px rgba(0,0,0,0.25));
  }
  .affodable_margin_left
  {
    margin-left: 0%;
  }
}
/*-------------*/

.banner h1 span{font-weight:600}
.get-quote-form{
	background: #fff;
	margin-top: 5%;
	margin-bottom: 6%;
	margin-left: 12%;
	border-radius: 3px;
  padding: 20px 0px 0 20px;
  filter: drop-shadow(-2px -2px 5px rgba(0,0,0,0.25));
  /*width: 47%;*/
}
.tool-tip{position: relative;bottom: 3px;right: 3px;}
.get-quote-form .form-group{margin-bottom:0 !important; padding: 0 !important;}
.get-quote-form .form-group span{font-size: 14px;font-weight: 600;margin: 8px 0;color: #666666;font-family: Arial, Helvetica, sans-serif; display:inline-block;}
.get-quote-form h2{font-weight:bold;font-size:25px;color:#046089;text-align:justify;margin-bottom:10px}
.get-quote-form .form-control{background-color:transparent !important;border-radius:4px !important}
.get-quote-form .form-group select{background-image: url('/static/images/select-bg1.png') !important;background-size: 10px 10px !important;-webkit-appearance: none;
    -moz-appearance: none;}
.gender-area{padding:4px 0}
.lga-selector-control {
    margin-left: 8px;
    margin-bottom: 0;
    display: inline-block;float: left;
}
.lga-selector-control input[type=radio] {
    display: none;
}
.radio-inline, .checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 0px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
  	margin:0 !important;
  	width:100% !important
}
.radio-inline span{float:left;margin:0 !important;padding:0 5px;font-size:12px !important}
.radio-inline span.title{margin-top:5px !important;color:#333333}
.lga-selector-control .radio-inline > span.icon {
    display: block;
    width: 25px;
    height: 25px;
    border: 3px solid #ccc;
    border-radius: 15px;
    padding: 0;
    margin: 0 auto;
}
.lga-selector-control input[type=radio]:checked + .radio-inline > span.icon:before {
    color: #5cb85c;
    font-size: 25px;
    content: "\E013";
    position: relative;
    top: -7px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.quote-qun{color: #666666;
font-size: 18px;
line-height: 24px;
margin-bottom: 5px;
font-family: Arial, Helvetica, sans-serif;}
.quote-btn{padding:0 !important;text-align:right !important;margin-top:20px}
.abt-quote{padding:0 !important;text-align:justify !important;margin:0 0 20px}
.rate-quote{padding:0 !important;text-align:center !important;margin:0 0 40px}
.mt-30{margin-top: 33px;padding: 0;}
.mt0{margin-top: 0px !important;}
.mt5{margin-top: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb15{margin-bottom: 15px !important;}
.m0{margin: 0px !important;}
.mb20{margin-bottom: 20px !important;}
.about{padding:20px 40px;position:relative;}
.rating{padding:20px 40px;position:relative;}
.about h2{font-size:24px;font-weight:600;color:#006687;line-height:30px;margin-bottom:20px;font-family: Arial, Helvetica, sans-serif;}
.rating h2{font-size:24px;font-weight:300;color:#0099cc;line-height:30px;margin-bottom:20px;text-align:center}
.abt-widget{text-align:center;margin:5px 0 0}
.about-widget h2{font-size: 20px;
text-align: center;
font-weight: 400;
line-height: 30px;
margin-bottom: 10px;letter-spacing: 1px;
color: #9b9b9b;}
.about p{margin:20px 0;font-size:17px;color: #666666;font-family: Arial, Helvetica, sans-serif;line-height: 22px;text-align: justify;}
.rating p{margin:20px 0;text-align:left;font-size:17px;color: #666666;
font-family: Arial, Helvetica, sans-serif;}
.abt-widget span{background: #0099cc;color: #fff;border-radius: 125px;font-size: 60px;display: inline-block;width: 125px;line-height: 125px;}
.fa-credit-card-alt{font-size:50px !important}
.abt-widget p{text-align: center !important;margin: 10px 0;font-weight: 600;color: #333333;}
.abt-note{font-size: 12px !important;margin: 10px 0 !important;}
.trustpilot{text-align:center}
.testimonials{padding:40px 0}
.jumbotron.solid {
    background-color: #005C7A;
    background-image: none;
    filter: none;
	border-radius:0;
}
.jumbotron {
    border-radius: 0;
    clear: both;
    padding: 40px 0 30px;
    margin-bottom: 30px;
    position: relative;
    line-height: 1.8em;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background: #005C7A;
    background: -moz-linear-gradient(-45deg, #005C7A 0, #00AA55 50%, #FFCC00 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #005C7A), color-stop(50%, #00AA55), color-stop(100%, #FFCC00));
    background: -webkit-linear-gradient(-45deg, #005C7A 0, #00AA55 50%, #FFCC00 100%);
    background: -o-linear-gradient(-45deg, #005C7A 0, #00AA55 50%, #FFCC00 100%);
    background: -ms-linear-gradient(-45deg, #005C7A 0, #00AA55 50%, #FFCC00 100%);
    background: -linear-gradient(135deg, #005C7A 0, #00AA55 50%, #FFCC00 100%);
}
.jumbotron.caret-top:before {
    border-top: 24px solid #FFF;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    position: absolute;
    display: block;
    top: 0;
    right: 50%;
    content: '';
    z-index: 999;
    margin-right: -24px;
}
.jumbotron > .content {
    padding: 15px;
}
.jumbotron > .content h2{
    font-weight: 300;
font-size: 30px;
font-family: 'Open Sans', sans-serif;line-height: 40px;
}

.jumbotron .caret-bottom {
    margin-top: 24px;
}
.caret-bottom::before {
    border-top: 24px solid #005C7A;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    position: absolute;
    display: block;
    bottom: -24px;
    right: 50%;
    content: '';
    z-index: 999;
    margin-right: -24px;
}
span.confident {
    font-weight: 800;
}
.info-snack-box {
    background-color: #0099cc;
    color: #FFFFFF;
    padding: 15px;
    margin-bottom: 20px;
}
.info-snack-box h1 {
    font-size: 52px;
    line-height: 1em;
	font-weight:700
}
.info-snack-box h4 {
	font-size: 18px;
    line-height: 1.3em;
	font-weight:400
}
.info-snack-box .caption {
    border-top: 1px solid #CCC;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
    padding-top: 8px;
    text-align: right;
}
.call-btn{background-color: transparent;
border-color: #eee;
color: #eee;
border-radius: 0;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
padding: 3px 10px;
font-weight: 600;}
.call-btn:hover{color: #FFF;
background-color: transparent;
border-color: #fff;}
.contact-us-section	{
	padding: 15px;
    font-weight: 600;
    font-size: 18px;
    background: #004d66;
	}
	.contact-us-section span{color:#eee;font-size:16px;text-align:left;font-family: Arial, Helvetica, sans-serif;}
@media only screen and (max-width : 767px) {
	.nav-right{margin-right:10px}
	.banner h1{font-size: 18px; line-height: 24px;margin-top:1px;margin-bottom: 25%;}
	.get-quote-form h2{font-size:18px;text-align: center;}
	.get-quote-form{margin-top:20%;	margin-bottom:0; margin-left: 0%;padding:15px 0}
	.quote-btn{text-align:center !important}
	.abt-quote{text-align:center !important}
	.about{padding:0px}
	.about h2{font-size:18px;text-align: center;}
	.nav-right p{font-size:14px;}
	.nav-right h2{font-size:18px;}
	.nav-right a{font-size:14px;}
	.nav-right .click-here{font-size:14px;}
	.nav-right h2 a{font-size:18px;margin:5px 0}
	.rating p{padding-left:0px;text-align: justify;}
	.mt-30{margin-top:10px}
	.quote-qun{font-size:16px;margin-top:10px}
	.quote-btn{margin-top:5px}
	.about h2{margin-bottom:10px}
	.abt-widget span { border-radius: 100px;font-size: 50px;width: 100px;line-height: 100px;}
	.fa-credit-card-alt{font-size:40px !important}
	.call-btn{padding: 8px 10px;display: table;margin: 5px auto 0;}
	.contact-us-section span{padding-bottom: 10px;float: left;text-align: center;}
	.rating{padding:0}
	.caret-bottom::before{bottom:-23px}
	.about h2{line-height:24px}
	.jumbotron.dd-banner{padding: 15px 0 35px 0;}
	.jumbotron.dd-banner h2{padding: 0 !important;font-size: 12px !important;float: right;margin: 0;line-height: 16px !important;}
	.why-lga h2{padding-left:0 !important;text-align:justify !important;font-size: 18px !important;line-height: 24px !important;margin:0 !important}
	.why-lga ul.checklist {padding-left:0 !important;}
	.why-lga ul.checklist li{font-size: 14px !important;text-align:justify}
	.why-lga ul.checklist li:before {font-size:20px !important;padding-right:10px !important;}
}
@media only screen and (max-width : 330px){
	.jumbotron.page-two-banner h2{font-size: 12px !important;float: right;margin-top: 7px !important;line-height: 16px !important;}
}
@media only screen and (min-width : 331px) and (max-width : 450px){
	.jumbotron.page-two-banner h2{font-size: 14px !important;float: right;margin-top: 7px !important;line-height:18px !important;}
}
@media only screen and (min-width : 451px) and (max-width : 580px){
	.jumbotron.page-two-banner h2{font-size: 18px !important;float: right;margin-top: 7px !important;line-height: 22px !important;}
}
@media only screen and (min-width : 581px) and (max-width : 767px){
	.jumbotron.page-two-banner h2{font-size: 22px !important;float: right;margin-top: 7px !important;line-height: 26px !important;}
}
@media only screen and (min-width : 768px) and (max-width : 1023px){
	.get-quote-form{margin-top:40%;	margin-bottom:0;margin-left: 0%;padding:20px;width: 100%;}
	.life-banner{padding: 0 0 0px 0 !important;}
	.jumbotron.dd-banner h2{padding: 0 0 80px 20px !important;float: right;line-height: 35px !important;font-size: 24px;}
	.jumbotron.page-two-banner h2{font-size:24px !important;margin-top: 20px !important;}
}
@media only screen and (min-width : 1024px) and (max-width : 1124px){
	.get-quote-form{    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: 2%;
    padding: 15px 0 10px 20px;
    /*width: 100%;*/}
	.mb15{margin-bottom:5px !important}
	.quote-qun{margin-top:10px !important}
	.about h2{font-size:22px}
}
.container
{
  padding: 0px;
  /*width: 1274px!important;*/
}
/*.ng-pristine
{
  width: 110%;
}*/
.margin_top
{
  margin-top:5px;
}
.life-banner{
	background: url('/static/images/dad_daughter_2x.jpg');
	background-size:cover;background-repeat:no-repeat;padding: 0 0 50px 0;
}
.jumbotron.dd-banner {
    background:none;
    border-radius: 0;
}
.jumbotron.page-two-banner {
    background:none;
    border-radius: 0;
}
.banner-text{position:absolute;top:0;top: 0;padding: 20px;}
.jumbotron.page-two-banner h2{text-align: left;line-height:34px;font-weight:500;margin-top: 30px;text-shadow:1px 1px 1px #999999}
.jumbotron.dd-banner h2{padding: 10px 0 170px;text-align: left;line-height:34px;font-weight:500}
.why-lga{margin:30px 0}
.why-lga h2{font-size:24px;font-weight:300;color:#0099cc;line-height:30px;margin-bottom:15px;text-align:left;letter-spacing:0.5px;padding-left:20px}
.why-lga ul.checklist{
	    list-style: none;
    margin-top: 8px;padding: 0;padding-left:20px
}
.why-lga ul.checklist li {
    margin: 5px 0;
	display:table;
	font-size:18px;
	color:#666666;
	font-weight:500;
}
.why-lga ul.checklist li:before {
    display: table-cell;
    font-family:'FontAwesome';
    font-size:35px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    color: #00AA55;
    content: "\F00C";
	padding-right:15px;
	position:relative;
	top:5px;
}
.apply-now{text-align:center !important;font-weight:600 !important;letter-spacing:0.5px}
.arrow-top:before {
    border-top: 24px solid #FFF;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    position: absolute;
    display: block;
    top: 0;
    right: 50%;
    content: '';
    z-index: 999;
    margin-right: -24px;
}
