<style>
.modal-dialog {
  width: 70% !important;
  height: 500px !important;
  margin-left: -30% !important;
  margin-top: 7% !important;
}
.coverage-amount {
    width: 100%;
    float: left;
    margin: 20px 0 0px 0 !important;
    margin-top:20px;
    padding: 0 15%;
}
.ready-apply-box {
  text-align:center;
  <!-- border:solid 1px #e5e5e5; -->
  padding: 2% 5% 0% 5%;
}

.consent-text {
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  padding: 5% 1% 2% 1%;
  color: #565656;
}
.consent-text-xs {
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  padding: 30% 1% 2% 1%;
  color: #565656;
}
.modify-popup-container{
  z-index: 9999;
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modify-popup-box{
  padding: 15px 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  width: 60%;
  border:0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:9999;
  flex-direction:column;
  box-shadow: 0px 4px 50px rgba(0,0,0,0.75);
}

.apply-button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 0;
  font-family: 'Open Sans',sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-color: #00AA55 !important;
  background-color: #00AA55;
  transition-duration: 0.25s;
}

.apply-button:hover {
  background-color: #00AA55;
}
.age-through-cover h3 {
    color: #fff;
    font-size: 28px;
    margin: 14px 0 0 0;
    font-weight: 300;
}
.age-through-cover h3 b {
    font-size: 28px !important;
    font-family: arial;
    font-weight: 600;
}
.age-through-cover sup{
    top: -0.8em;
    position: relative;
    font-size: 50%;
    line-height: 0;
    vertical-align: baseline;
}
.age-through-cover h5 {
    color: #fff;
    margin: 0px;
    font-size: 28px !important;
    font-weight: 300;
    margin-top: -15px !important;
    margin-bottom: 2px !important;
}
@media only screen and (max-width : 512px) {
  .coverage-amount {
      width: 100%;
      float: left;
      margin: 65px 0 0px 0;
      margin-top:25px;
      padding: 0 5%;
  }
  h2.ready {
    font-size: 22px !important;
  }
  .modify-popup-box{
    padding: 15px 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    width: 80%;
    border:0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:9999;
    flex-direction:column;
    box-shadow: 0px 4px 50px rgba(0,0,0,0.75);
  }
  .age-through-cover h3 {
      font-size: 19px !important;
  }
  .age-through-cover h3 b {
    	font-size: 19px !important;
    }
  .age-through-cover h5 {
    color: #fff;
    margin: 0px;
    font-size: 19px !important;
    font-weight: 300;
    margin-top: -10px !important;
    margin-bottom: 2px !important;
  }
  .adjust-quote-title{
      margin: 0px -15px;
  }
}

.vee {
  color: white;
  margin-left: 8px;
  margin-right: 5px;
  display: inline-block;
  transform: scale(1.5,0.75) !important;
}

.vee-holder:hover .vee {
  color: black;
}

</style>
<link rel="stylesheet" href="/quote/styles/css/custom.css" />
<div class="age-through-cover age-through-spl" style="max-height:235px; z-index: 999; margin-top:0px !important">
      <h3 style="margin-top: 0px !important">Coverage through <b>age {{coverage_through_age}}</b></h3>
      <!-- <strong>$<label id="premiumLbl"></label><sup>*</sup></strong> -->
      <strong>$<label id="premiumLbl"></label></strong>
      <input type="hidden" id="hiddenFaceamount" />
      <h5 >per month</h5>
      <div class="" style="color: #fff; margin: 0px; font-size: 17px; font-weight: 300;margin-top:7px;">
        <button ng-click="show_quote_popup = !show_quote_popup" style="background: none;border: solid 1px;padding: 5px 12px; margin-top: 5px;border-radius: 0px;" type="button" class="btn btn-secondary vee-holder">ADJUST YOUR QUOTE<span class="vee">v</span></button>
        <!-- <img style="height:16px" src="/static/images/down-arrow.svg" alt=""> -->
        </div>
      <div class="modify-popup-container" ng-show="show_quote_popup">
      <div class="modify-popup-box">
        <div class="" style="width:105%;">
          <img class="pull-right hand" ng-click="show_quote_popup = !show_quote_popup" src="/static/images/cancel.png" style="height:16px;" alt="">
        </div>
        <div class="" style="width: 100%;padding-bottom: 15px;">
          <div class="" style="padding-bottom: 15px;">
            <div class="adjust-quote-title" >
              <h4 style="color: #0785af;font-size: 18px;font-weight:700;margin-top:0px !important;margin-bottom:20px !important;">ADJUST YOUR QUOTE</h4>
            </div>
            <div col-md-12 col-xs-12 style = "width: 100%;">
          <h4 style="color: #0785af;font-size: 14px;">Modify Term Duration</h4>
        </div>
        <div class="" style="display:flex;justify-content:center">
        <div class="">
          <select ng-model="tenure" ng-change="tenureModified()" class="form-control select select-height">
                                                <option value="" style="display: none"></option>
                                                <option ng-repeat="x in term_lengths" value={{x}} class="ng-binding ng-scope">{{x}} Years</option>
                                            </select>
        </div>
      </div>
    </div>
          <div col-md-12 col-xs-12 style = "width: 100%;">
          <h4 style="color: #0785af;font-size: 14px;">Modify Coverage Amount:</h4>
        </div>
          <div>
           <input  id="ex1" data-slider-id='ex1Slider' style = "width: 100%" type="text" data-slider-min="" data-slider-max="" data-slider-step="" data-slider-value=""/>
         </div>
         <div class="">
           <span style="color: #0785af; float:left; font-size: 100%">{{sliderMin | incomeSplitter}}</span>
           <span style="color: #0785af; float:right; font-size: 100%">{{sliderMax | incomeSplitter}}</span>
           <!-- <span style="float: right; color: #0785af; font-size: 100%"><p id = 'maxVal'>{{sliderMax| incomeSplitter}}</p></span> -->
         </div>
        </div>
        <div class="">
          <button type="button" style="" class="btn btn-primary apply-button" ng-click="show_quote_popup = !show_quote_popup">DONE</button>
        </div>
      </div>
      </div>
  <div class="triangle-down-cvr"></div>
</div>
    <div class="header-about">
      <div>
        <div>
        	<div class="col-md-12">
             <h1 style="font-size:24px;margin-top:2%;">Within one business day, you will receive a call from a licensed Legal & General America agent to review your situation and help you apply for life insurance coverage.</h1>
          </div>
      </div>
      </div>
    </div>

    <div class="header-about happen-next" style="margin-top:2%;">
      <div>
        <div>
        	<div class="col-md-12">
             <h1>What happens next?</h1>

        </div>
        <div class="row-bottom"><span class="chevron bottom"></span></div>
      </div>
      </div>
    </div>
    <div class="step-next-policy">
      <div>
        <div class="btm-policy">
          <div class="col-md-4">
            <div class="step-all"> <img src="/static/images/step-1.png" />
              <h4>Step 1</h4>
              <div class="row-bar"></div>
              <p>Complete Phone Interview</p>
            </div>
            <div class="right-arrow"><img src="/static/images/arrow.png" /></div>
          </div>
          <div class="col-md-4">
            <div class="step-all"> <img src="/static/images/step-2.png" />
              <h4>Step 2</h4>
              <div class="row-bar"></div>
              <p>Get Decision</p>
            </div>
            <div class="right-arrow"><img src="/static/images/arrow.png" /></div>
          </div>
          <div class="col-md-4">
            <div class="step-all"> <img src="/static/images/step-3.png" />
              <h4>Step 3</h4>
              <div class="row-bar"></div>
              <p>Get Your Policy</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="new-quote">
      <div> <a class="quote-loved hand" ng-click="goHome()">Start a New Quote</a> </div>
    </div>
    <!---End--->
	<div class="container">
		<div class="row m0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 jumbotron caret-top page-two-banner">
				<img src="/static/images/dad_daughter_2x.jpg" class="img-responsive">
				<div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-12 banner-text">
					<h2>Life insurance is about <br><span class="confident">PROTECTING</span> the people  <br> who depend on you.</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row m0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 why-lga p0">
				<div class="col-lg-10 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-12 col-xs-12">
					<h2>Why do customers choose Legal & General America for life insurance? </h2>
				</div>
				<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<ul class="checklist">
						<li>We have been providing financial protection through life insurance for over 65 years.</li>
						<li>We are financially strong. Rated A+ (Superior) by A.M. Best and AA- (Very Strong) by Standard & Poor’s and Fitch.</li>
						<li>We insure the lives of over 1 million American policyholders.</li>
						<li>We have a history going back over 180 years. Our parent company, Legal & General, was founded in London in 1836.</li>
						<li>We are committed to business practices that reduce our impact on the environment.</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	<div class="container">
		<div class="row m0">
			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 contact-us-section" style="display:flex;justify-content:center">
				<div class="col-lg-10 col-md-10 col-xs-12 col-sm-9" style="text-align:center">
					<span>Call us at <span style="float: none" ng-bind-html="toll_free_number"></span>, Monday through Friday from 9:00am to 5:00pm to speak to a licensed life insurance agent.</span>
				</div>
			</div>
		</div>
	</div>


<script>
	$('.terms-duration li').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    $('.terms-duration li').removeClass('selected');
    $(this).addClass('selected');
});
</script>
