<div class="container">
    <header class="header-Top-md">
        <div class="logo pull-left"><img src="/static/images/logo.png" /></div>
        <div class="helt-call pull-right ">
            <h4 style="color:#0099cc !important; margin-bottom:0px">SelfieQuote<sup class="sup_style">SM</sup></h4>
            <div class="pull-right beta">BETA</div>
        </div>
        <div class="clearfix"></div>
    </header>
</div>
<div class="container visible-sm visible-md visible-lg" style="padding-left:0px !important; padding-right:20px !important;">
<div class="age-through-cover-title1" style="padding-top:50px;padding-bottom:50px !important;">
    <div class="container"  style="padding-left:30px !important; padding-right:30px !important;">
        <div class="row" style="display: flex; align-items: center; justify-content: center">
            <div class="col-md-8 col-sm-8 visible-sm visible-md visible-lg" class="home5-img-excl-md-text">
                  <h3 class="home5-img-excl-text" style="text-align: center !important;">Sorry, you've reached your selfie quote limit.</h3>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
</div>
</div>
<div class="container visible-xs" style="padding-left:0px !important; padding-right:0px !important;">
<div class="age-through-cover-title1" style="padding-top:20px;padding-bottom:50px;">
    <div class="container"  style="padding-left:0px !important; padding-right:0px !important;">
        <div class="row">
            <div class="col-xs-12" class="home5-img-excl-md-text">
                  <h3 class="home5-img-excl-text"  style="text-align:center !important;">Sorry, you've reached your selfie quote limit.</h3>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</div>
<div class="container visible-sm visible-md visible-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="tabs_line-home5" style="margin: 8% 0 8% 0;">
                <p style="color: #6f6f6f">If you’d like to get a life insurance quote now, please visit:<br><a style="color: #0099cc" href="https://term.lgamerica.com/"><u>www.term.lgamerica.com</u></a></p>
            </div>
        </div>
    </div>

</div>

<div class="container visible-xs">
    <div class="row">
        <div class="col-xs-12" style="margin-top:12%">
            <div class="tabs_line-home5" style="margin: 17% 0 15% 0;">
                <p style="color: #6f6f6f">If you’d like to get a life insurance quote now, please visit:<br><a style="color: #0099cc" href="https://term.lgamerica.com/"><u>www.term.lgamerica.com</u></a></p>
            </div>
        </div>
    </div>

</div>
<!-- <div id="footer" class="footer-main padding-40">
      <ul>
        <li><a style="background-color: transparent" href="https://www.lgamerica.com/corporate/financials" target="__main__">About Us</a></li>
        <li><a style="background-color: transparent" href="https://www.lgamerica.com/corporate/privacy" target="__main__">Privacy Policy</a></li>
        <li><a style="background-color: transparent" href="https://www.lgamerica.com/corporate/security" target="__main__">Security</a></li>
      </ul>
      <p>&copy; 2017 Legal & General America. All Rights Reserved. Legal & General America life insurance products are underwritten and issued by Banner Life Insurance Company, Urbana, MD and William Penn Life Insurance Company of New York, Valley Stream, NY. Banner is licensed to do business in 49 states and the District of Columbia. William Penn does business exclusively in New York; Banner does not solicit business there. 17-187. <a class = "hand" style="color: blue !important; background-color: transparent" ng-click="openLegalStuff()" >Click here </a>for additional product details. </p>
</div> -->
