<div class="btm-color-bg ng-scope"></div>
<div class="header-about">
  <div>
    <div>
    	<div class="col-md-12">
         <h1>Thank you! We have received your information.</h1>
      </div>
    <!-- <div class="row-bottom"><span class="chevron bottom"></span></div> -->
  </div>
  </div>
</div>
<!--
  <div class="app-life-insurance">
    <div>
      <p>Thank you for starting your application for life insurance</p>
      <div class="triangle-down-one"></div>
    </div>
  </div>
-->
<div class="app-by-phone cll-apply-dx" style="margin-top: 0px !important">
  <div style="padding: 0 5px">
          <!-- <p style="font-size:20px">Within one business day, you will receive a call from a licensed Legal & General America agent to review your situation and help you apply for life insurance coverage.</p> -->
          <p style="font-size:20px">Within one business day, you will receive a call from a licensed Legal & General America agent to review your situation and help you apply for life insurance coverage.</p>
          <!-- Or call us now at 1-844-606-2759, Monday – Friday 9am – 5pm EST.-->
    <div class="triangle-down-two"></div>
  </div>
</div>
<!--<div class="case-ID-ready">
  <div>
    <p>When you call in, have your Case ID ready <a class="code-bar" href="">#772048</a></p>
    <div class="triangle-down-three"></div>
  </div>
</div>-->
<div class="header-about happen-next">
  <div>
    <div>
    	<div class="col-md-12">
         <h1>What happens next?</h1>

    </div>
    <div class="row-bottom"><span class="chevron bottom"></span></div>
  </div>
  </div>
</div>
<div class="step-next-policy">
  <div>
    <div class="btm-policy">
      <div class="col-md-4">
        <div class="step-all"> <img src="/static/images/step-1.png" />
          <h4>Step 1</h4>
          <div class="row-bar"></div>
          <p>Complete Phone Interview</p>
        </div>
        <div class="right-arrow"><img src="/static/images/arrow.png" /></div>
      </div>
      <div class="col-md-4">
        <div class="step-all"> <img src="/static/images/step-2.png" />
          <h4>Step 2</h4>
          <div class="row-bar"></div>
          <p>Get Decision</p>
        </div>
        <div class="right-arrow"><img src="/static/images/arrow.png" /></div>
      </div>
      <div class="col-md-4">
        <div class="step-all"> <img src="/static/images/step-3.png" />
          <h4>Step 3</h4>
          <div class="row-bar"></div>
          <p>Get Your Policy</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="new-quote">
  <div> <a class="quote-loved hand" ng-click="goHome()">Start a New Quote</a> </div>
</div>
<iframe src="//www.quotelab.com/p/5hsWAhqpmSptZuSTkyZrKW8VSfPznA?u=3" width="1" height="1" frameborder="0"></iframe>
<script>
var history_api = typeof history.pushState !== 'undefined';
</script>
